<div id="colleft">
    <h5>Site map</h5>
    {{- range .Site.Pages }}
      {{ if .Params.nameInMenu }}
        <div><a href="{{ .Permalink }}">{{ .Params.nameInMenu }}</a></div>
      {{ end }}
    {{- end }}
    <hr/>
    <h5>Modules</h5>
    <div><a href="/modules/BackupBlockCopy/">BackupBlockCopy</a></div>
    <div><a href="/modules/BackupEbsSnap/">BackupEbsSnap</a></div>
    <div><a href="/modules/BackupFsarchiver/">BackupFsarchiver</a></div>
    <div><a href="/modules/BackupMysqldp/">BackupMysqldp</a></div>
    <div><a href="/modules/BackupPgsqldp/">BackupPgsqldp</a></div>
    <div><a href="/modules/BackupRsyncGet/">BackupRsyncGet</a></div>
    <div><a href="/modules/BackupTarball/">BackupTarball</a></div>
    <div><a href="/modules/EncryptGnupg/">EncryptGnupg</a></div>
    <div><a href="/modules/RemoteAwsS3/">RemoteAwsS3</a></div>
    <div><a href="/modules/NotifyAwsSes/">NotifyAwsSes</a></div>
</div>
