<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>rubackup - {{ .Title }}</title>
  <link rel="stylesheet" href="/rubackup.css" type="text/css"/>
  {{ .Hugo.Generator }}
</head>
