<div id="topmenu">
    <ul>
        <li><a href="{{ .Site.BaseURL  }}">Homepage</a></li>
        <li><a href="/modules/">Modules</a></li>
        <li><a href="https://github.com/fdupoux/rubackup">Git repository</a></li>
    </ul>
</div>
