body, html {
	background-color: #CCCCCC;
	font-family: verdana, sans-serif;
	padding : 0px;
	margin : 0px;
	border: 0px;
}

#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#header {
	clear: both;
	text-align: center;
	background-color: #037a74;
	padding: 8px;
	margin: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#toptitle {
	font-weight: bold;
	font-size: 170%;
	margin: 2px;
}

#topmenu {
	padding: 2px;
	text-align: center;
}

#contents {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

#colleft {
	margin: 2px;
	background-color: #d2f4ec;
	padding: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	line-height: 1.7;
	font-size: 90%;
    white-space: nowrap;
}

#colcenter {
	overflow-y: hidden;
	margin: 2px;
	background-color: #d2f4ec;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#colright {
	margin: 2px;
	background-color: #d2f4ec;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	line-height: 1.7;
	font-size: 90%;
    white-space: nowrap;
}

#footer {
	clear: both;
	background-color: #ECEFF3;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	margin-top:5px;
	margin-bottom:5px;
}

h1 {
  text-transform: uppercase;
	font-size: 150%;
}

h2 {
	font-size: 120%;
}

h3 {
	font-size: 105%;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 5px;
}

th {
	background :#888888;
}

tr:nth-child(even) {
	background: #CCCCCC;
}

tr:nth-child(odd) {
	background: #FFFFFF;
}

#topmenu ul {
	padding: 0;
	margin: 0;
	font-weight: bold;
	list-style: none;
}
#topmenu li {
	display: inline;
	padding: 0 1em;
}
#topmenu li > a:link,
#topmenu li > a:visited {
	color: #FFFFFF;
	white-space: nowrap;
	text-decoration: none;
}
#topmenu li > a:hover,
#topmenu li > a:active {
	color: #FF0000;
	text-decoration: none;
}
